html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
}
div.container {
    height: 10em;
    position: relative;
} 



ul.result {
    margin: 0;
    padding: 0;
    visibility: hidden;
    display:inline-block;
   }

   ul.result li {
    margin: 0;
    padding: 0;
    display:inline-block;
   }

.header {
    text-align: center;
    /* overflow: hidden; */
    padding: 35px 10px;
}
  
.header button {
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    line-height: 25px;
    margin: 2px;
    padding: .25em .5em;
    transform: translate(0, -50%);
    display: inline-block;
    color: black;
    font-weight: 700;
    user-select: none;
    outline: none;
    border: 1px solid rgb(255, 22, 22);
    border-radius: 7px;
    background: rgb(240, 2, 2);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}

.header button:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.header button:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgb(173, 156, 0);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
  
  